  <div class="row">
        <div class="col-md-5">
          <div class="book_wrapper">
            <div class="book2">
              <% if @book.photo_link.nil?%>
                <%else%>
                  <%= image_tag @book.photo_link %>
              <%end%>
            </div>
          </div>
        </div>
    <div class="col-md-7">
      <h2> <%= @book.title.upcase%> </h2>
      <h3> <%= @book.sub_title%> </h3>
      <h3> <%= @book.year%> </h3>
      <p> <%= @book.description%> </p>
      <p> <%= @book.contributors%> </p>
      <p><%= @book.publisher%></p>
      <p><%= @book.language%></p> </br>

      <div class="link">
      <%=link_to "Buy Now", @book.amazon_link %>
      </div>
    </div>
  </div>
  </div>
