
     <h1><%= link_to 'NAOMI POLLOCK', root_path%></h1>


    <ul>
      <li><%= active_link_to "BOOKS", books_path%></li>
      <li><%= active_link_to "ARTICLES", articles_path%></li>
      <li><%= active_link_to "LECTURES", lectures_path%></li>
      <li><%= active_link_to "BLOGS", posts_path%></li>
      <li><%= active_link_to "ABOUT", about_path%></li>
      <li><%= active_link_to "INSTAGRAM", photos_path%></li>
      <li id="search-block"><%= form_tag(posts_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "     S E A R C H" %>
          <% end %></li>
    </ul>
