<div class="row">
  <div class="col-sm-3 col-md-2">

  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
     <h1><%= link_to 'NAOMI POLLOCK', root_path%></h1>
  </div>
  <div class="col-sm-3 col-md-2">

  </div>

</div>

    <ul>
      <li><%= active_link_to "BOOKS", books_path%></li>
      <li><%= active_link_to "ARTICLES", articles_path%></li>
      <li><%= active_link_to "LECTURES", lectures_path%></li>
      <li><%= active_link_to "BLOGS", posts_path%></li>
      <li><%= active_link_to "ABOUT", about_path%></li>
      <li><%= active_link_to "INSTAGRAM", photos_path%></li>
      <li><%= active_link_to "SEARCH", root_path%></li>
    </ul>
