<!DOCTYPE html>
<html>
  <head>
    <title>NAOMI POLLOCK</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      = javascript_include_tag Ckeditor.cdn_url
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="body">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
